[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "libconfig"]
	path = deps/libconfig
	url = https://github.com/hyperrealm/libconfig
	ignore = dirty
[submodule "rapidcsv"]
	path = deps/rapidcsv
	url = https://github.com/d99kris/rapidcsv
